body {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    background-color: whitesmoke;
}

/*ROW SETTINGS*/
.row {
    display: flex
}

/*NAVIGATION BAR*/
.nav {
    justify-content: space-between;
    background-size: cover;
    padding-bottom: 4vh;
}

.menu {
    display: flex;
    font-size: 2.2vh;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'DM Sans', sans-serif;
    background-color: #92b2ba;
    color: white;
}

.menu-item {
    justify-content: space-between;
    margin: 0 11vh;
    padding-bottom: 1%;
    padding-top: 1%;
}

/*BANNER IMAGE*/
.banner {
    height: 70vh;
    background-image: url(https://raw.git.generalassemb.ly/AlexMerced/unit_1_html_css_js/main/day_08/homework/flowerbox/imgs/banner.png?token=AAAMQKC26DDWH56UTMDMFGTFOYAJG);
    background-size: cover;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

}

.name {
    font-size: 5em;
    color: #92b2ba;
    text-shadow: 2px 2px 2px white;
    padding-right: 2%;
    text-wrap: wrap;
    margin: 0 -.1vh 0 0;
}

.hero {
    display: flex;
    text-wrap: wrap;
    box-sizing: border-box;
}

.slogan {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #f0a8bb;
    background-color: white;

}

.card {
    width: 31%;
    max-width: 100% 100%;
    min-width: 300px;
    height: 70vh;
    background-size: cover;
    border: 2px black;
    background-color: grey;
    position: relative;
    box-shadow: 10px 10px #eeeeee;
    margin: 6vh 0 0 0;

}

.cards {
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    background-size: contain;
    margin: -6vh 0 0 0;

}

.footer {
    position: absolute;
    bottom: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product {
    padding-left: 1vh;
    font-size: 1.2em;
    font-weight: bold;
    color: #92b2ba;
}

.price {
    color: white;
    background-color: #f0a8bb;
    font-weight: bold;
}

.footerWords {
    justify-content: space-around;
    margin-bottom: -4vh;
}

.priceDiv {
    padding-right: 1.5vh;
}

.tags {
    display: inline-flex;
    justify-content: space-between;
    font-size: .8em;

}

.description {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #777777;
    background-color: #eeeeee;
    font-weight: lighter;
    margin: 1vh;
}

.pageFooter {
    background-color: #eeeeee;
    margin: 5vh 0 0 0;
    position: relative;
}

.header {
    font-family: 'DM Sans', sans-serif;
    color: #92b2ba;
    font-weight: bold;
    font-size: 1.5em;
}

.subheader {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #777777;
    margin: auto;
}

.logo {
    color: #92b2ba;
}

.logoImage {
    height: 25%;
    width: 50%;
    padding-left: 5vh;
    padding-top: 10%;
}

.logoname {
    font-family: 'DM Sans', sans-serif;
    color: #f0a8bb;
    font-weight: bold;
    padding-left: 20%;
    padding-right: 1%;
}

.socialMedia {
    color: #92b2ba;
    height: 3vh;
    width: 3vh;
    display: inline-block;
    margin: auto;
}

.facebook {
    padding-left: 25%;
}
.links{
    padding-left: 1.5%;
}

.one {
    background-image: url('./flower-1.png')
}

.two {
    background-image: url(https://raw.git.generalassemb.ly/AlexMerced/unit_1_html_css_js/main/day_08/homework/flowerbox/imgs/flower-2.png?token=AAAMQKERXHZJAQE4WDNC5I3FO3Q3K)
}

.three {
    background-image: url(https://raw.git.generalassemb.ly/AlexMerced/unit_1_html_css_js/main/day_08/homework/flowerbox/imgs/flower-3.png?token=AAAMQKGA6D3H7A6RGND3S6TFO3Q7M)
}

.four {
    background-image: url(https://raw.git.generalassemb.ly/AlexMerced/unit_1_html_css_js/main/day_08/homework/flowerbox/imgs/flower-4.png?token=AAAMQKBQWVEMWJVFHDWKL7TFO3RA4)
}

.five {
    background-image: url(https://raw.git.generalassemb.ly/AlexMerced/unit_1_html_css_js/main/day_08/homework/flowerbox/imgs/flower-5.png?token=AAAMQKGAOKIOM3EYXWOVIHTFO3RCI)
}

.six {
    background-image: url(https://raw.git.generalassemb.ly/AlexMerced/unit_1_html_css_js/main/day_08/homework/flowerbox/imgs/flower-6.png?token=AAAMQKFKR3ZTFL6MTOSREZLFO3RV6)
}

.seven {
    background-image: url('./flower-7.png')
}

.eight {
    background-image: url(https://raw.git.generalassemb.ly/AlexMerced/unit_1_html_css_js/main/day_08/homework/flowerbox/imgs/flower-8.png?token=AAAMQKCN7JRIIYDNNQHEAF3FO3RFA)
}

.nine {
    background-image: url(https://raw.git.generalassemb.ly/AlexMerced/unit_1_html_css_js/main/day_08/homework/flowerbox/imgs/flower-9.png?token=AAAMQKAABFHEQI7TMQBRMYTFO3RG2)
}